.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 16px 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

.searchInput, .searchButton {

}


.logo {
  font-weight: 700;
  font-size: 32px;
  color: #1f2a3c;
}

.navLinks {
  display: flex;
  align-items: center;      /* vertical centering */
  gap: 20px;                /* spacing between dropdowns */
  margin-left: auto;        /* push this group to the right */
  margin-right: 20px;       /* space between dropdowns and search bar */
}

.dropdown {
  font-size: 0.95em;
  cursor: pointer;
}

.navSearch {
  display: flex;
  align-items: center;
  gap: 8px;
}

.searchInput {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
    height: 32px;
}

.searchButton {
  padding: 6px 12px;
  font-size: 14px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    height: 32px;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}